<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원상세정보</title>

</head>
<body>
    <a href="/">
        <div style="width: 20%;"><img class="logo" th:src="@{/files/hyunjung.png}" style="width: 140px; height: 40px;"></div>
    </a>

    <table>

        <tr>
            <td>아이디</td>
            <td>비밀번호</td>
            <td>이메일</td>
            <td>이름</td>
            <td>삭제</td>
        </tr>
        <tr>
            <td th:text="${user.uid}"></td>
            <td th:text="${user.upw}"></td>
            <td th:text="${user.uemail}"></td>
            <td th:text="${user.unm}"></td>

            <td>
                <a th:href="@{|/user/delete/${user.uid}|}">삭제</a>
            </td>
        </tr>
    </table>
</body>
</html>