<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join화면</title>
    <link rel="icon" href="./images/images2/favicon.png">

    <link rel="stylesheet" th:href="@{/css/user/join.css}">

    <style>
        table {
            width: 100%;
            border: 1px solid #444444;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #444444;
        }
    </style>
</head>
<body>
    <form action="/user/join" method="post" id="join-frm">
        <div class="member">
        <!-- 1. 로고 -->
            <a href="/">
                <img class="logo" th:src="@{/files/hyunjung.png}"  >
            </a>


            <div class="field">
    <!--       버튼이용해 onclick 사용도 가능   -->
    <!--        아이디 : <input type="text" name="uid" id="uid" onblur="idCheck()">-->
                아이디 <input type="text" name="uid" placeholder="아이디" class="form-control" id="uid">
                <input type="button" value="중복확인" id="idChkBtn">
                <span id="id-check-result" style="color: blue"></span>
            </div>

            <div class="field" style="position: relative;">
    <!--        TODO 비밀번호, 이메일 형식 체크 할 예정 -->
                비밀번호 <input type="password" name="upw" placeholder="비밀번호" class="form-control pwTool" id="upw">
                <div class="pwTooltip">

                    ※ 비밀번호 입력 조건
                    - 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자<br>
                    - 입력 가능 특수문자 <br>
                    &nbsp;&nbsp;&nbsp;~ ` ! @ # $ % ^ ( ) * _ - = { } [ ] | ; : &lt; &gt; , . ? /<br>
                    - 공백 입력 불가능<br>
                    - 연속된 문자, 숫자 사용 불가능<br>
                    - 동일한 문자, 숫자를 반복해서 사용 불가능<br>- 아이디 포함 불가능

                </div>
                <span id="pw-check-result" style="color: blue"></span>
            </div>

            <div class="field">
                이메일  <input type="text" name="uemail" id="uemail" placeholder="이메일">
                <span id="email-check-result" style="color: blue"></span>
            </div>

            <div class="field">
                이름  <input type="text" name="unm" id="unm" placeholder="이름">
            </div>

            <input type="submit" value="회원가입">

            <div class="member-footer">
                <div>
                    <a href="#none">이용약관</a>
                    <a href="#none">개인정보처리방침</a>
                    <a href="#none">회원정보 고객센터</a>
                </div>
            </div>

        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script src="/js/user/join.js"></script>

</body>

</html>
